.section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 2rem;
  row-gap: 2rem;
}
.containerSpacing{
  margin-top: 5rem;
}
.section-title{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

/* Breakpoints */
@media (max-width: 1366px) {
  .section {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 768px) {
  .section {
    grid-template-columns: 1fr;
  }
}
