.section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 2rem;
  row-gap: 2rem;
}
.container-spacing{
  margin-top: 5rem;
}
.section-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
  grid-column: 1/-1;
}

/* Breakpoints */
@media (max-width: 1366px) {
  .section {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 768px) {
  .section {
    grid-template-columns: 1fr;
  }
  .section-header{
    flex-direction: column;
    row-gap: 1rem;
  }
  
}
