.button-primary-m {
  background-color: var(--color-accent);
  color: var(--color-primary-text-inverted);
  height: 4rem;
  padding: 0 3rem;
  border-radius: 1rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 500;
}
.button-primary-m:hover {
  cursor: pointer;
}
.button-secondary-m {
  background-color: var(--surface-1);
  color: var(--color-secondary-text);
  height: 4rem;
  padding: 0 3rem;
  border-radius: 1rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 500;
}
.button-secondary-m:hover {
  cursor: pointer;
  background-color: var(--surface-2);
}
.button-secondary-s {
  background-color: var(--surface-1);
  color: var(--color-secondary-text);
  height: 2rem;
  padding: 0 1rem;
  border-radius: 0.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 500;
}
.button-secondary-s:hover {
  cursor: pointer;
  background-color: var(--surface-2);
}
