:root {
  
  font-family: Poppins, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --color-accent: #09af00;
  --color-primary-text: #191c1f;
  --color-secondary-text: #505a63;
  --stroke-softer: #E1E4E5;
  --surface-low: #F7F7F7;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', Arial, sans-serif;
}
a {
  text-decoration: none;
}

ul {
  list-style-type: none; 
}
/* Color */
.accent{
  color: var(--color-accent)
}
.primary-text{
  color: var(--color-primary-text);
}
.primary-text-inverted{
  color: #fff;
}
.secondary-text{
  color: var(--color-secondary-text);
}
.secondary-text-inverted{
  color: #FFFFFFFF;
}
/* Type */
h1, h2, h3, p {
  margin: 0;
  padding: 0;
}


.bold{
  font-weight: 700;
}
.semi-bold{
  font-weight: 600;
}
.medium{
  font-weight: 500;
}
.title-l{
  font-size: 2.4rem;
  font-weight: 500;
}
.title-m{
  font-size: 1.6rem;
  font-weight: 500;
}
.title-s{
  font-size: 1.2rem;
  font-weight: 500;
}
.paragraph-l{
  font-size: 1.6rem;
}
.paragraph-m{
  font-size: 1rem;
}
.paragraph-s{
  font-size: 0.8rem;
}

/* Containers */
.frame-full{
  width: 100%;
}
.container-xl{
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

/* Borders */
.border-radius-xl{
  border-radius: 20px;
}

.border-bottom{
  border-bottom: 1px solid var(--stroke-softer);
}
/* Layout */
.display-flex{
  display: flex;
}
.space-between{
  justify-content: space-between;
}
.align-center{
  align-items: center;
}

.padding-xl{
  padding: 2rem;
}
.margin-vertical-xl{
  margin-top: 2rem;
  margin-bottom: 2rem;
}