.hero-banner {
  position: relative;
  height: 350px;
  display: flex;
  align-items: center;
  background-image: url("@/assets/224d11ca-50d5-4557-b350-7bd7e6bfdb92.jpeg");
  background-size: cover;
  background-position: center;
}
.hero-banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.banner-content {
  position: relative;
  z-index: 2;
}
